<div>
    <div >
        <md-card ng-click="goToApiDetails()" style="cursor: pointer" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{method}} :> {{urlPath}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div layout-gt-sm="row" ng-repeat="data in requestData track by $index " >
        <md-input-container class="md-block" flex-gt-sm>
            <label>Request</label>
            <textarea disabled class="md-whiteframe-3dp" style="background-color: white;"  rows="10" cols="150" md-no-autogrow md-select-on-focus 
           >{{convertInJson(data.request)}}</textarea>
        </md-input-container>

        <div flex="3" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Response</label>
            <textarea disabled class="md-whiteframe-3dp" style="    background-color: white;"  rows="10" cols="150" md-no-autogrow md-select-on-focus 
           >{{convertInJson(data.response)}}</textarea>
        </md-input-container>

        <div flex="7"  layout-align="end end">
            <div layout="row" layout-align="end end" style="margin-top: 98px;">
                <md-button ng-click="goToChangeApiDetails()" class="md-raised md-primary">Edit</md-button>
            </div>

        </div>
    </div>
    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center" >
      <md-button flex="90" class="md-primary md-raised" ng-click="showListBottomSheet(true)">Add Request & Response</md-button>
 </div>
</div>

<request-response-template ng-if="publishbutton"></request-response-template>