<div>
    <div >
        <md-card   md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                <div class="md-headline">
			<span  style="color: darkorchid;">{{method}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span >{{hostName}}{{urlPath}}</span>
			</div>
                    
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div layout-gt-sm="row" >
        <md-input-container class="md-block" flex-gt-sm>
            <label>Request</label>
            <textarea ng-disabled="true"  class="md-whiteframe-3dp" ng-change="formatJsonRequest(request)" style="    background-color: white;color: blue;" ng-model="request" rows="10" cols="150" md-no-autogrow md-select-on-focus>
            {{request}}</textarea>
        </md-input-container>

        <div flex="3" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Response</label>
            <textarea placeholder="{{responsePlaceholder}}"  class="md-whiteframe-3dp" ng-change="formatJsonResponse(response)" style="    background-color: white;color: blue;" ng-model="response" rows="10" cols="150" md-no-autogrow md-select-on-focus>
            {{response}}</textarea>
        </md-input-container>


    </div>
    <div flex="7"  layout-align="end end">
        <div layout="row" layout-align="end end" >
            <md-button ng-click="publishData(method,urlPath,request,response);" class="md-raised md-primary">Publish</md-button>
        </div>

    </div>
</div>