<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- include css in the header -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/angular-material.min.css}"/>
    <title>Project Mock</title>

</head>
<body ng-app="projectmock"   ng-cloak>
<div class="container">
 <md-toolbar>
      <div class="md-toolbar-tools">
        <a href="#" onclick="window.location.href='/';"><md-button aria-label="Go Back">
          Home Page
        </md-button>
        </a>

        <h2 flex md-truncate>Project Mock [v1.0]</h2>
       <!--  <md-button class="md-raised md-accent md-hue-3" aria-label="Learn More">
          Learn More
        </md-button> -->
        <a href="/format-json" target="_blank">
        <md-button class="" aria-label="Favorite">
         Json Format
        </md-button>
        </a>
      </div>
    </md-toolbar>
    <br>
   <!--  <a ui-sref="hello">Home Page</a> ||||
   
    <a href="/format-json" target="_blank">Json_Format</a><br>
    <br> -->
    
    <!-- include image from static resources -->
    <ui-view></ui-view>

</div>


<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-animate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-route.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-aria.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular.ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-material.min.js}"></script>
<script type="text/javascript" th:src="@{/js/project-mock.js}"></script>
<script type="text/javascript" th:src="@{/js/CommonController.js}"></script>
<script type="text/javascript" th:src="@{/js/CommonService.js}"></script>
</body>
</html>


